Release


### generated log files ###
**.log


### csharp output
FanControl/app/include/windows/build

### csharp shit
Library/Windows/HardwareLib/.vs
Library/Windows/HardwareLib/HardwareDaemon/obj
Library/Windows/HardwareLib/HardwareDaemon/bin


### generated proto files ###
FanControl/app/src/jvmMain/java/proto/generated
FanControl/app/src/jvmMain/kotlin/proto/generated
Library/Windows/HardwareLib/HardwareDaemon/Proto/Generated

### idea custom modif
/shelf/
**/.idea/workspace.xml
artifacts/
**/.idea/gradle.xml

FanControl/wix311/