publish


### generated log files ###
**.log


### csharp output
FanControl/app/include/windows/build

### csharp shit
HardwareLib/.vs
HardwareLib/FanControlService/obj
HardwareLib/FanControlService/bin


### generated proto files ###
FanControl/app/src/jvmMain/java/proto/generated
FanControl/app/src/jvmMain/kotlin/proto/generated

### idea custom modif
/shelf/
**/.idea/workspace.xml
artifacts/
**/.idea/gradle.xml
**/.idea/misc.xml



FanControl/wix311/
